---
interface Props {
    title?: string;
    description?: string;
    url?: string;
    image?: string;
}

const {
    title = "Mind-Objects XR",
    description = "A tool for visualizing your thoughts.",
    url = "https://j0nesyes.github.io/moxr",
    image = "/assets/mind-objects-logo.jpg"
} = Astro.props;
---

<title>{title}</title>
<!-- Meta Tags for SEO -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator}/>
<meta name="robots" content="index, follow"/>
<meta http-equiv="Pragma" content="cache"/>
<meta name="revisit-after" content="2 days"/>
<meta name="audience" content="all"/>
<meta http-equiv="content-language" content="de"/>
<meta name="language" content="de"/>
<meta name="author" content="Mind-Objects XR"/>
<meta name="copyright" content="Mind-Objects XR"/>
<meta name="page-type" content="Personal Website"/>
<meta name="keywords"
      content="Mind-Objects XR, creative software, visual thinking, interactive design, creative projects, digital tools, prototyping"/>
<meta name="description" content="A tool for visualizing your thoughts."/>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta property="og:image" content={image}/>
<meta property="og:url" content=""/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Mind-Objects XR"/>

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content={title}/>
<meta name="twitter:description" content={description}/>
<meta name="twitter:image" content={image}/>

<!-- Canonical Link -->
<link rel="canonical" href={url}/>

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="https://j0nesyes.github.io/moxr/favicon.svg"/>
<link rel="icon" type="image/png" href="https://j0nesyes.github.io/moxr/favicon.png"/>

<!-- Structured Data -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Mind-Objects XR",
        "url": "https://j0nesyes.github.io/moxr",
        "logo": "https://j0nesyes.github.io/moxr/assets/mind-objects-logo.jpg",
    }
</script>