---
import BaseLayout from "../../layouts/BaseLayout.astro"
import HeroMain from "../../components/HeroMain.astro"
import Head from "../../components/Head.astro"
import MOXRGlbExplorer from "../../components/MOXRGlbExplorer.astro"
import LanguageSwitch from "../../components/languageSwitch.astro";
import '../../styles/main.css';
import {urls} from "../../config";
import {i18nUtils} from '../../i18n/i18nUtils.js';

export function getStaticPaths() {
    return [
        {params: {lang: 'de'}},
        {params: {lang: 'en'}},
    ];
}

const {lang} = Astro.params;
const t = i18nUtils.getTranslations(lang);
const pageTitle = t.common.siteTitle;
---

<BaseLayout title={pageTitle} lang={lang}>
    <div style="position: absolute; top: 1rem; right: 1rem; z-index: 10;">
        <LanguageSwitch lang={lang} slug=""/>
    </div>
    <Head slot="head"/>
    <HeroMain slot="hero"
              heading={t.indexPage.heroMain.heading}
              subheading={t.indexPage.heroMain.subheading}
              primaryButtonText={t.indexPage.heroMain.primaryButtonText}
              primaryButtonHref={urls.metaBeta}
              secondaryButtonText={t.indexPage.heroMain.secondaryButtonText}
              secondaryButtonHref={urls.moxr +"/"+ lang + "/#explorer"}/>
    <section id="about">
        <h3>{t.indexPage.aboutTitle}</h3>
        <p>{t.indexPage.aboutParagraph1}</p>
        <p>{t.indexPage.aboutParagraph2}</p>
        <p>{t.indexPage.aboutParagraph3}</p>
    </section>
    <section id="explorer">
        <h3>{t.indexPage.explorerTitle}</h3>
        <MOXRGlbExplorer/>
    </section>

    <div slot="footer-main">
        <img src="/assets/logo-mind-objects.svg" alt="Logo Mind-Objects" draggable="false" style="height: 100px;"/>
        <p><a href={urls.mindObjectsImprint} target="_blank">{t.indexPage.footer.legalNotice}</a></p>
    </div>
    <div slot="footer-bottom">
        <p>{t.indexPage.footer.websiteDesignedBy}<a href={urls.icuMedia} target="_blank">icu-media </a></p>
    </div>
</BaseLayout>